﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>This website is built and deployed using an automated pipeline. Infrastructure is built using Terraform and a Docker container is deployed to ECS.</p>
    <p>Both Gitlab pipelines and Jenkins can be used.</p>
</div>
